# Dependency directories
node_modules/

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
backend/.env
frontend/.env
!.env.example

# Angular specific
.angular/
.browserslistrc
# Chrome profile
.chrome/

# Coverage
coverage/

# Testing
tests/results/
browser-test-report/

# TypeScript
*.tsbuildinfo

# Documentation
documentation/

# Yarn
.yarn/
.pnp.*
